/* 
Colors:
#88CDB1 Primary: Seafoam Blue/Green
#7A2A5D Secondary: Purple
#FD3D10 Tertiary: Hot Orange
*/

header{
	
	}

nav {
	
	}
	
body {
	background: url("../img/wild_flowers.png");
	font-family: 'Allerta', sans-serif;
	}